//
  Copyright © 2019 contains code contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//

.navbar.stf-menu(ng-controller='MenuCtrl')
  .container-fluid.stf-top-bar(style='{{$root.basicMode ? "padding: 0 10px" : "padding: 0 10px;"}}')
    a.stf-logo(ng-href="/stf#!/devices") STF
    ul.nav.stf-nav(nav-menu='current', ng-if='!$root.basicMode').unselectable
      li(ng-cloak)
        a(ng-href='/stf#!/control/{{lastUsedDevice}}', ng-show='lastUsedDevice')
          span.fa.fa-mobile
          span(ng-if='!$root.basicMode', translate) Control
        a(accesskey='1', ng-click='scrollToStoredPosition()', style='cursor: pointer;')
          span.fa.fa-sitemap
          span(ng-if='!$root.basicMode', translate) Devices
        a(ng-href='/stf#!/groups')
          span.fa.fa-object-group
          span(ng-if='!$root.basicMode', translate) Groups
        a(ng-href='/stf#!/settings')
          span.fa.fa-gears
          span(ng-if='!$root.basicMode', translate) Settings
    ul.nav.stf-nav.stf-feedback.pull-right(ng-cloak, nav-menu='current', style='padding: 0').unselectable
      li.stf-nav-web-native-button(ng-if='!$root.basicMode && isControlRoute')
        .btn-group
          button(type='button', ng-model='$root.platform', uib-btn-radio="'web'", translate).btn.btn-sm.btn-default-outline Web
          button(type='button', ng-model='$root.platform', uib-btn-radio="'native'", translate).btn.btn-sm.btn-default-outline Native

      li.stf-nav-web-native-button(style="padding: 0")
       button.btn.btn-sm.btn-default-outline(
        style='{{$root.basicMode ? "padding: 5px 0" : "padding: 5px 10px;" }}'
        type='button'
        ng-click='mailToSupport()')
          i.fa.fa-envelope-o
          span(translate) Contact Support 

      li.stf-nav-web-native-button(style="padding: 0")
       button.btn.btn-sm.btn-default-outline(
        style='{{$root.basicMode ? "padding: 5px 0" : "padding: 5px 10px;" }}'
        type='button'
        ng-click='logout()')
          i.fa.fa-sign-out
          span(translate) Logout 

      li(style="padding: 0")
        a(ng-href='/stf#!/help', accesskey='6')
          i.fa.fa-question-circle.fa-fw
          | {{ "Help" | translate }}
          
    ul.nav.stf-nav(nav-menu='current', style='padding: 0; width: 100%', ng-if='$root.basicMode').unselectable
      li(ng-cloak, style='width: 100%; margin-left: 10px')
        a(ng-href='/stf#!/control/{{lastUsedDevice}}', ng-show='lastUsedDevice', style="padding-left: 0px; font-size: 10px")
          span.fa.fa-mobile
          span(translate) Control
        a(accesskey='1', ng-click='scrollToStoredPosition()', style='cursor: pointer; padding-left: 0px; font-size: 10px')
          span.fa.fa-sitemap
          span(translate) Devices
        a(ng-href='/stf#!/groups', , style="padding-left: 0px; font-size: 10px")
          span.fa.fa-object-group
          span(translate) Groups
        a(ng-href='/stf#!/settings', style="padding-left: 0px; font-size: 10px")
          span.fa.fa-gears
          span(translate) Settings